.subText {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    opacity: 0.5;

}

.subLinkText {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    opacity: 0.5;
}

@media (max-width: 405px) {
    .forgotBlockContainer {
        max-width: 250px;
    }
}
